Makefile.in
/autom4te.cache
/aclocal.m4
/config/
/m4/
/configure
/config.h.in
*.o
*.lo
*.la
.deps/
.libs/
/config.log
/config.h
/config.status
/.dirstamp
/Makefile
/host/Makefile
/libtool
/lv2dynparamhost1.pc
/lv2dynparamplugin1.pc
/plugin/Makefile
/stamp-h1
/lv2dynparam.tag
